In [70]:
import os 
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd 
import numpy as np 
import random
import warnings 
warnings.filterwarnings('ignore')
import cv2
from mpl_toolkits import mplot3d

In [71]:
Normal = os.listdir('C:/Users/Lee Jong Ann/Desktop/dataset/Pneumonia/chest_xray/train/NORMAL')
Pneumonia = os.listdir('C:/Users/Lee Jong Ann/Desktop/dataset/Pneumonia/chest_xray/train/PNEUMONIA')

In [87]:
filename = []

for label1 in Normal: 
    category = label1.split('.')[0]
    filename.append(category)

In [88]:
category

'NORMAL2-IM-1423-0001'

In [89]:
a1

'NORMAL2'

In [90]:
Normal_df = pd.DataFrame({ 
    'filename':filename,
})

In [93]:
Normal_df

                  filename
0             IM-0115-0001
1             IM-0117-0001
2             IM-0119-0001
3             IM-0122-0001
4             IM-0125-0001
...                    ...
1336  NORMAL2-IM-1406-0001
1337  NORMAL2-IM-1412-0001
1338  NORMAL2-IM-1419-0001
1339  NORMAL2-IM-1422-0001
1340  NORMAL2-IM-1423-0001

[1341 rows x 1 columns]

In [101]:
categories2 = []

for label2 in Pneumonia: 
    category2 = label2.split('.')[0]
    a2 = category2.split('_')
    if a2[1] == 'bacteria': 
        categories2.append(1)
    else: 
        categories2.append(0)

In [102]:
category2

'person9_bacteria_41'

In [103]:
a2

['person9', 'bacteria', '41']

In [104]:
Pneumonia_df = pd.DataFrame({ 

    'filename': Pneumonia,
    'category': categories2})

In [106]:
Pneumonia_df

                           filename  category
0     person1000_bacteria_2931.jpeg         1
1        person1000_virus_1681.jpeg         0
2     person1001_bacteria_2932.jpeg         1
3     person1002_bacteria_2933.jpeg         1
4     person1003_bacteria_2934.jpeg         1
...                             ...       ...
3870        person99_virus_183.jpeg         0
3871       person9_bacteria_38.jpeg         1
3872       person9_bacteria_39.jpeg         1
3873       person9_bacteria_40.jpeg         1
3874       person9_bacteria_41.jpeg         1

[3875 rows x 2 columns]